.header-library {
  margin-left: auto;
  margin-right: auto;

  display: flex;

  height: 230px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #303030;
  opacity: 0.9;

  box-shadow: -5px 10px 15px -6px var(--button-activ-color);

  @media screen and (max-width: #{$tablet - 1}) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/background/rectangle-1x-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (max-width: #{$tablet - 1}),
      screen and (min-resolution: 192dpi) and (max-width: #{$tablet - 1}),
      screen and (min-resolution: 2dppx) and (max-width: #{$tablet - 1}) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/background/rectangle-2x-mobile.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/background/rectangle-1x-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
      screen and (min-resolution: 192dpi) and (min-width: $tablet),
      screen and (min-resolution: 2dppx) and (min-width: $tablet) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/background/rectangle-2x-tablet.jpg');
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/background/rectangle-1x-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
      screen and (min-resolution: 192dpi) and (min-width: $desktop),
      screen and (min-resolution: 2dppx) and (min-width: $desktop) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/background/rectangle-2x-desktop.jpg');
    }
  }
}

.header__button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  @media screen and (min-width: $tablet) {
    gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}

.header__button {
  width: 130px;
  height: 44px;

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 44px;
  }
  @media screen and (min-width: $desktop) {
    width: 147px;
    height: 42px;
  }
  text-transform: uppercase;
}

.aktiv:hover {
  //   animation: rotate 0.7s ease-in-out both;
  //   animation-delay: 0.05s;
  box-shadow: 0 0 0 18px transparent;
  animation: pulse 1s;
  //   animation: jelly 0.5s;
}

// ----------------------------------loader----------------------
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
