.header-library {
  margin-left: auto;
  margin-right: auto;

  display: flex;

  height: 230px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #303030;
  opacity: 0.9;

  box-shadow: -5px 10px 15px -6px var(--button-activ-color);

  @media screen and (max-width: #{$tablet - 1}) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/background/rectangle-1x-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (max-width: #{$tablet - 1}),
      screen and (min-resolution: 192dpi) and (max-width: #{$tablet - 1}),
      screen and (min-resolution: 2dppx) and (max-width: #{$tablet - 1}) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/background/rectangle-2x-mobile.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/background/rectangle-1x-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
      screen and (min-resolution: 192dpi) and (min-width: $tablet),
      screen and (min-resolution: 2dppx) and (min-width: $tablet) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/background/rectangle-2x-tablet.jpg');
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/background/rectangle-1x-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
      screen and (min-resolution: 192dpi) and (min-width: $desktop),
      screen and (min-resolution: 2dppx) and (min-width: $desktop) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/background/rectangle-2x-desktop.jpg');
    }
  }
}

.header__button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  @media screen and (min-width: $tablet) {
    gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}

.header__button {
  width: 130px;
  height: 44px;

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 44px;
  }
  @media screen and (min-width: $desktop) {
    width: 147px;
    height: 42px;
  }
  text-transform: uppercase;
}

.aktiv:hover {
  //   animation: rotate 0.7s ease-in-out both;
  //   animation-delay: 0.05s;
  box-shadow: 0 0 0 18px transparent;
  animation: pulse 1s;
  //   animation: jelly 0.5s;
}
