@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: rgb(255, 245, 233);
}

body.modal-open {
  overflow: hidden;
}
