<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo link">
        <svg class="header__logo-svg" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film-from-header"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span></a
      >
      <!--  -->
      <div class="header_nav-button-wrapper">
        <ul class="header__nav-list">
          <div class="header__nav-list-page">
            <li class="header__nav-item">
              <button
                onclick="document.location='index.html'"
                class="header__nav-autoriz current afterhome"
                type="button"
                id="home"
              >
                Home
              </button>
            </li>
            <li class="header__nav-item">
              <button
                onclick="document.location='library.html'"
                class="header__nav-autoriz"
                type="button"
                id="library"
              >
                My library
              </button>
            </li>
          </div>
          <!-- -->
          <div class="header__nav-list-autorization">
            <li class="header__nav-item">
              <button class="header__nav-autoriz" type="button" id="signup">
                Sign up
              </button>
            </li>
            <li class="header__nav-item">
              <button class="header__nav-autoriz" type="button" id="signin">
                Sign in
              </button>
            </li>
            <li class="header__nav-item">
              <button
                class="header__nav-autoriz visually-hidden"
                type="button"
                id="signout"
              >
                Sign out
              </button>
            </li>
            <li class="header__nav-item">
              <a href="" class="header__logo link">
                <svg
                  class="header__logo-svg user_icon visually-hidden"
                  width="24"
                  height="24"
                  id="usericon"
                >
                  <use
                    href="./images/svg/symbol-defs.svg#icon-user-check"
                  ></use>
                </svg>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </nav>

    <form class="header__form" id="search-form">
      <div class="header__content">
        <input
          name="query"
          class="header__input"
          type="text"
          placeholder="Movie search"
        />
        <button type="submit" class="header__form-btn">
          <svg class="header__form-icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-lupa-for-input"></use>
          </svg>
        </button>
      </div>
    </form>
    <!-- ====switch======= -->
    <button id="toggle-theme-btn" class="toggle-theme-btn">
      <svg width="28px" height="28px">
        <use
          class="moon visually-hidden"
          id="toggle-theme-image"
          href="./images/svg/symbol-defs.svg#moon"
        ></use>
        <use
          class="sun"
          id="toggle-theme-image"
          href="./images/svg/symbol-defs.svg#sun"
        ></use>
      </svg>
      <span class="visually-hidden">theme</span>
    </button>
    <!--  -->
    <p class="failure-message visually-hidden">
      Search result not successful (: Enter the correct movie name
    </p>
  </div>
  <!-- <span class="loader"></span> -->
</header>
