<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo link">
        <svg class="header__logo-svg" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film-from-header"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span></a
      >
      <div class="header-nav-button">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="" class="header__logo link">
        <svg class="header__logo-svg user_icon visually-hidden user" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-user-check"></use>
        </svg>
          </li>
          <li class="header__nav-item">
            <a href="./index.html" class="header__nav-link current link home"
              >Home</a
            >
          </li>
          <li class="header__nav-item">
            <a href="./library.html" class="header__nav-link link library"
              >My library</a
            >
          </li>
        
          <li class="header__nav-item">
            <button class="autoriz visually-hidden" type="button" id="signout">
              Sign out
            </button>
          </li>
          <li class="header__nav-item">
            <button class="autoriz" type="button" id="signup">Sign up</button>
          </li>
          <li class="header__nav-item">
            <button class="autoriz" type="button" id="signin">Sign in</button>
          </li>
        </ul>
      </div>
    </nav>

    <form class="header__form" id="search-form">
      <div class="header__content">
        <input
          name="query"
          class="header__input"
          type="text"
          placeholder="Movie search"
        />
        <button type="submit" class="header__form-btn">
          <svg class="header__form-icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-lupa-for-input"></use>
          </svg>
        </button>
      </div>
    </form>
    <p class="failure-message is-hidden">Search result not successful (:</p>
  </div>
  <!-- <span class="loader"></span> -->
</header>
