<div class="backdrop is_hidden">
  <div class="modal__login">
    <button type="button" class="modal-close-btn" login-modal-close>
      <svg class="modal-close__icon" width="14px" height="14px">
        <use href="./images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="login_title">Authorization</p>
    <form class="login-form">
      <label class="login__field">
        <span class="login__desc">Email</span>
        <input class="log__input" type="email" name="email" />
      </label>
      <label class="login__field">
        <span class="login__desc">Password</span>
        <input class="log__input" type="password" name="password" />
      </label>
      <button type="submit" class="button log__btn">Sing in</button>
    </form>
  </div>
</div>
<div class="backdrop is_hidden">
  <div class="modal__reg">
    <button type="button" class="modal-close-btn" login-modal-close>
      <svg class="modal-close__icon" width="14px" height="14px">
        <use href="./images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="login_title">Registration</p>
    <form class="reg-form">
      <label class="reg__field">
        <span class="reg__desc">Name</span>
        <input class="reg__input" type="text" name="name" />
      </label>
      <label class="reg__field">
        <span class="reg__desc">Email</span>
        <input class="reg__input" type="email" name="email" />
      </label>
      <label class="reg__field">
        <span class="reg__desc">Password</span>
        <input class="reg__input" type="password" name="password" />
      </label>
      <button type="submit" class="button reg__btn">Sing up</button>
    </form>
  </div>
</div>
