<div class="backdrop is_hidden" data-modal-film>
  <div class="modal-window" data-modal-window>
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="./images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-film-wrapper" id="data-modal-film-wrapper"></div>
    <div class="modal-error visually-hidden">
      <div class="error-img-thumb">
        <img
          class="movie-poster"
          src="./images/error-images/search-error-min.png"
          alt="Error"
          loading="lazy"
        />
      </div>

      <p class="error-text">
        Oops... <br />
        The page you requested could not be found...
      </p>
    </div>
  </div>
</div>
