<section class="container options-section">
  <div class="language-btn-box">
    <button type="button" class="language-btn-en">en</button>
    <button type="button" class="language-btn-ru">ru</button>
  </div>
  <form name="genre" class="genre-form">
    <select class="genre-select">
      <option class="genre-options" value="28">Action</option>
      <option class="genre-options" value="12">Adventure</option>
      <option class="genre-options" value="16">Animation</option>
      <option class="genre-options" value="35">Comedy</option>
      <option class="genre-options" value="80">Crime</option>
      <option class="genre-options" value="99">Documentary</option>
      <option class="genre-options" value="18">Drama</option>
      <option class="genre-options" value="10751">Family</option>
      <option class="genre-options" value="14">Fantasy</option>
      <option class="genre-options" value="36">History</option>
      <option class="genre-options" value="27">Horror</option>
      <option class="genre-options" value="10402">Music</option>
      <option class="genre-options" value="9648">Mystery</option>
      <option class="genre-options" value="10749">Romance</option>
      <option class="genre-options" value="878">Science Fiction</option>
      <option class="genre-options" value="10770">TV Movie</option>
      <option class="genre-options" value="53">Thriller</option>
      <option class="genre-options" value="10752">War</option>
      <option class="genre-options" value="37">Western</option>
    </select>
    <button type="submit" class="language-btn-en">
      <svg class="genre-svg" width="18" height="18">
        <use href="/src/images/svg/symbol-defs.svg#icon-lupa-for-input"
      </svg>
    </button>
  </form>

  <button type="button" class="button active options-btn-popular">Popular</button>
</section>
