<section class="pagination">
  <div class="container">
    <ul class="pagination__list">
      <li class="pagination__item">
        <span class="pagination__button_arrow pagination__button">
          &#8592;
        </span>
      </li>
      <li class="pagination__item pagination__limit">
        <button class="pagination__button">1</button>
      </li>
      <li class="pagination__item">
        <span class="pagination__space"
          ><span class="pagination__space-text">...</span></span
        >
      </li>
      <li>
        <button class="pagination__button">14</button>
      </li>
      <li>
        <button class="pagination__button">15</button>
      </li>
      <li>
        <button class="pagination__button pagination__button_current">
          16
        </button>
      </li>
      <li class="pagination__item">
        <button class="pagination__button">17</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__button">18</button>
      </li>

      <li class="pagination__item">
        <span class="pagination__space">
          <span class="pagination__space-text">...</span></span
        >
      </li>
      <li class="pagination__item pagination__limit">
        <button class="pagination__button">20</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__button_arrow pagination__button">
          &#8594;
        </button>
      </li>
    </ul>
  </div>
</section>
