.buutton {
  width: 148px;
  height: 42px;
  border: 1px solid var(--primary-white-color);
  border-radius: 5px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  @include font($lh: 16px);
}

.buutton {
  width: 152px;
  height: 44px;
}

.buutton {
  width: 130px;
  height: 44px;
}
