.backdrop.is_hidden .modal__login {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.backdrop.is_hidden .modal__reg {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal__login,
.modal__reg {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  opacity: 1;
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal__login {
    width: 400px;
    height: 330px;
  }
  .modal__reg {
    width: 400px;
    height: 410px;
  }
}

.login_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.login-form,
.reg-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login__desc,
.reg__desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.log__input,
.reg__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.log__input:focus,
.reg__input:focus {
  outline: none;
  border-color: var(--button-activ-color);
}

.log__btn,
.reg__btn {
  align-self: center;
}
