body.modal-open {
  overflow: hidden;
}

.modal-window {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 48px 20px 40px 20px;
  width: 280px;
  background-color: var(--primary-white-color);

  @media screen and (min-height: 600px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms var(--time-function);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--button-activ-color);
}

.movie-poster {
  border-radius: 5px;
}

.movie-title {
  text-align: left;
  @include font($fs: 20px, $lh: 23px);
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr {
  display: flex;
}

.table-row:not(:last-child) {
  margin-bottom: 8px;
}

.td {
  min-width: 108px;
}
.characteristic {
  color: var(--secondary-text-color);
  @include font($lh: 16px);
}

.description {
  @include font($lh: 14px);
}

.vote {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 36;
  height: 16px;
  padding: 1px 10px;
  border-radius: 5px;

  color: var(--primary-white-color);
  background-color: var(--button-activ-color);
}

.about {
  margin-bottom: 8px;
  @include font($lh: 16px);
  text-transform: uppercase;
}

.about-descr {
  margin-bottom: 20px;
  @include font();
}

.buttons-wrapper {
  display: flex;
}

.add-to-watched-btn {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .movie-poster {
    margin-bottom: 20px;
    width: 240px;
  }
}

@media screen and (min-width: $tablet) {
  .modal-window {
    padding: 40px 72px 40px 36px;
    width: 704px;
  }

  .modal-container {
    display: flex;
    justify-content: space-between;
  }

  .movie-poster {
    margin-right: 68px;
    max-width: 264px;
  }

  .add-to-watched-btn {
    margin-right: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .modal-window {
    padding: 40px 12px;
    width: 806px;
  }

  .movie-poster {
    margin-right: 16px;
    max-width: 375px;
  }

  .movie-title {
    @include font($fs: 30px, $lh: 35px);
  }
}
