.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $mobile) {
    padding: 10px 0;
    min-height: 50vh;
  }

  @media screen and (min-width: $tablet) {
    padding: 20px 0;
    min-height: 65vh;
  }

  @media screen and (min-width: $desktop) {
    min-height: 69vh;
  }
}

.no-display {
  display: none;
}

.error__img {
  @media screen and (min-width: $mobile) {
    max-width: 200px;
    max-height: 350px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 350px;
    max-height: 700px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 400px;
  }
}

.error__text {
  color: #ff001b;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $mobile) {
    font-size: 20px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

.error__span {
  text-transform: capitalize;
}

.input-autofocus-btn {
  transition: color 250ms var(--time-function),
    background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--primary-white-color);
    color: var(--button-activ-color);
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  }
}
