// ----------------------------------loader 1----------------------
// .loader {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   max-width: 6rem;
//   margin-top: 3rem;
//   margin-bottom: 3rem;
// }
// .loader:before,
// .loader:after {
//   content: '';
//   position: absolute;
//   border-radius: 50%;
//   animation: pulsOut 1.8s ease-in-out infinite;
//   filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
// }
// .loader:before {
//   width: 100%;
//   padding-bottom: 100%;
//   box-shadow: inset 0 0 0 1rem var(--button-activ-color);
//   animation-name: pulsIn;
// }
// .loader:after {
//   width: calc(100% - 2rem);
//   padding-bottom: calc(100% - 2rem);
//   box-shadow: 0 0 0 0 var(--button-activ-color);
// }

// @keyframes pulsIn {
//   0% {
//     box-shadow: inset 0 0 0 1rem var(--button-activ-color);
//     opacity: 1;
//   }
//   50%,
//   100% {
//     box-shadow: inset 0 0 0 0 var(--button-activ-color);
//     opacity: 0;
//   }
// }

// @keyframes pulsOut {
//   0%,
//   50% {
//     box-shadow: 0 0 0 0 var(--button-activ-color);
//     opacity: 0;
//   }
//   100% {
//     box-shadow: 0 0 0 1rem var(--button-activ-color);
//     opacity: 1;
//   }
// }

//  ===========loader 2===================
//
// .loader {
//   position: fixed;
//   top: calc(50% - 172px);
//   left: calc(50% - 32px);
//   width: 48px;
//   height: 48px;
//   border-width: 3px;
//   border-style: dashed solid solid dotted;
//   border-color: #ff3d00 #ff3d00 transparent #ff3d00;
//   border-radius: 50%;
//   display: inline-block;
//   position: relative;
//   box-sizing: border-box;
//   animation: rotation 1s linear infinite;
// }
// .loader::after {
//   content: '';
//   box-sizing: border-box;
//   position: absolute;
//   left: 20px;
//   top: 31px;
//   border: 10px solid transparent;
//   border-right-color: #ff3d00;
//   transform: rotate(-40deg);
// }

// @keyframes rotation {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

//
//  =============loader 3=================

.loader {
  position: fixed;
  top: calc(50% - 172px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  //   border-radius: 50%;
  //   perspective: 800px;

  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
