

.up-button {
    position: fixed;
    background-color: var(--button-activ-color);
    right: 10px;
    bottom: 193px;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.up-button__icon {
    content: '';
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    fill: var(--primary-white-color);
}


.up-button:hover {
    background-color: var(--secondary-text-color);
}
.up-button_hiden {
    display: none;
}

@media screen and (max-width:480px) {
    .up-button {
        width: 40px;
        height: 40px;
    }

    .up-button__icon {
        width: 30px;
        height: 30px;
    }

}